<section id="{{ page.slug }}" class="header">
    <header class="major">
        {{ content|raw }}
    </header>
    {% if header.display_button and header.display_button == 1 %}
    <div class="container">
        <ul class="actions special">
            <li><a href="#{{ page.parent().children().prevSibling(page.path).slug }}" class="button primary scrolly">{{ header.button_label }}</a></li>
        </ul>
    </div>
    {% endif %}
</section>
