<section id="footer">
    <footer>
        <ul class="icons">
            <li><a href="#" class="icon fa-sm fab fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-sm fab fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-sm fab fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-sm fab fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-sm fas fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; {{ now()|date('Y') }}</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            <li>Demo Images: <a href="http://unsplash.com">Unsplash</a></li>
        </ul>
        <p class="copyright">
            <a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart pulse"></i> by <a href="https://trilby.media">Trilby Media</a>.
        </p>
    </footer>
</section>
